/*navbar - symbol,menu,profile*/
.navbar{display: flex;justify-content: space-between;padding: 10px;}
.logo{font-size: 50px;font-weight: bold;color: rgb(18, 91, 238);}
.profile{margin: 10px;}
.menu{display: flex;list-style: none;gap: 35px;cursor: pointer;font-size: 18px;}

/*headings*/
.mainhead{margin: 20px;font-size: 40px;color:rgb(41, 205, 41);}
.category{margin: 20px;color: red;}

/*img*/
.all{width: 300px;padding: 0;border: 1px solid ;}
.pics{display: flex;gap: 25px;margin-left: 20px;}
.pic{width: 100%;height: 200px;object-fit: cover;}

.price{font-size: 20px;font-weight: bold;margin-left: 10px;}
.name{font-weight:bold;margin-left: 10px;color: rgb(185, 131, 22);}

.search{padding: 10px;width: 350px;height: 25px;font-size: 15px;}